## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import google_api_key

# Configure gmaps API key
gmaps.configure(api_key=google_api_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
weather_data_df = pd.read_csv("weater_databases/weatherpy_database.csv")
weather_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Description
0,0,Punta Arenas,-53.1500,-70.9167,53.60,66,0,32.21,2021-02-01 02:49:54,NaN
1,1,Jos,9.9167,8.9000,62.85,29,1,3.80,2021-02-01 02:52:25,NaN
2,2,Taksimo,56.3444,114.8794,-21.89,76,99,2.08,2021-02-01 02:52:25,NaN
3,3,Shimoda,34.6667,138.9500,48.20,71,40,11.50,2021-02-01 02:52:25,NaN
4,4,Castro,-24.7911,-50.0119,63.73,95,84,1.86,2021-02-01 02:52:25,NaN

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_spots_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & \
                                       (weather_data_df["Max Temp"] >= min_temp)]
preferred_spots_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Description
1,1,Jos,9.9167,8.9000,62.85,29,1,3.80,2021-02-01 02:52:25,NaN
4,4,Castro,-24.7911,-50.0119,63.73,95,84,1.86,2021-02-01 02:52:25,NaN
6,6,Hermanus,-34.4187,19.2345,62.01,77,97,14.70,2021-02-01 02:48:13,NaN
10,10,Kapaa,22.0752,-159.3190,77.00,69,20,12.66,2021-02-01 02:52:28,NaN
11,11,Rikitea,-23.1203,-134.9692,79.75,64,89,7.78,2021-02-01 02:52:29,NaN
...,...,...,...,...,...,...,...,...,...,...
1404,1404,Algiers,36.7525,3.0420,60.80,72,0,17.27,2021-02-01 02:54:10,clear sky
1406,1406,Lahij,13.1667,44.5833,67.53,84,81,6.40,2021-02-01 02:54:11,broken clouds
1408,1408,Gambela,8.2500,34.5833,78.35,40,26,3.56,2021-02-01 02:54:11,scattered clouds
1412,1412,Sitangkai,4.6628,119.3928,81.73,81,100,16.51,2021-02-01 02:54:12,overcast clouds
1413,1413,Quarai,-30.3875,-56.4514,72.25,92,36,11.01,2021-02-01 02:54:12,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_spots_df= pd.DataFrame(preferred_spots_df)
preferred_spots_df.count()

City_ID        635
City           635
Lat            635
Lng            635
Max Temp       635
Humidity       635
Cloudiness     635
Wind Speed     635
Date           635
Description    318
dtype: int64

In [29]:
#5 Create DataFrame called hotel_df to store hotel names along with city,max temp, and coordinates.
hotel_df = preferred_spots_df[["City", "Description", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City      Description  Max Temp      Lat       Lng Hotel Name
705          Jos        clear sky     62.85   9.9167    8.9000
708       Castro    broken clouds     63.73 -24.7911  -50.0119
710     Hermanus  overcast clouds     62.01 -34.4187   19.2345
713      Te Anau       few clouds     72.70 -45.4167  167.7167
719     Souillac       light rain     80.01 -20.5167   57.5167
722        Kapaa       few clouds     77.00  22.0752 -159.3190
723      Rikitea  overcast clouds     79.75 -23.1203 -134.9692
724    Mahebourg       light rain     80.01 -20.4081   57.7000
725  Port Alfred       light rain     66.00 -33.5906   26.8910
726       Nicoya        clear sky     74.70  10.1483  -85.4520

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    ## 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "weater_databases/vacation_search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt>{City}</dd>
<dt>Decription</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
### couldnt use country as it was not in the original request

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))